//About page stylesheet
.page-about{
  
  .section-mission{
    .subscript{
      color: $theme-primary;
    }
    .logo{
        width: 100px;
    }
  }
  
  .comp-heading {
    display: inline;
  }
  
  .partner-logo{
    width: 100px;
  }
  
  .do-list{
        list-style: none;
      }
    
//    .section-content{
//        .content-container{
//            max-width: 768px;
//        }
//    }
    
   
    
}