// Styling for the call to action section
section.bizone {
    position: relative;
    background-color: $theme-secondary;
    padding: 0px;
    
    //background-image: url(../img/sapbizone.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;

    .wrapper{
        position: relative;
        width: 100%;
        height: 56vw;
        overflow: hidden;
        min-height: 600px;
        background-color: grey;
    }
    
    iframe{
        position: relative;
        width: 100%;
        height: 100%;
        
    }
    
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background-color: rgba(0,0,0,0.8);
        
    }
    
        .overlay-text{
        position: relative;
        color: $theme-secondary;
        
    }
    
    a{
        color: $theme-secondary;
        border-color: $theme-secondary;
    }
    
    @media only screen and (max-width: 961px){
        .overlay{
            //background-image: url(../img/sapbizone.png);
            background-position: left;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .overlay-text{
            max-width: 300px;
            //text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
            
        }
        
        iframe{
            display: none;
        }
        
        a{
            background-color: rgba(138,63,206,0.8);
            border: none;
            color: black;
            //text-shadow: 3px 1px 1px black;
        }
       
    }
    
    
       
}
