// Styling for the call to action section
section.bizone {
    position: relative;
    background-color: $theme-secondary;
    padding: 0px;

    .wrapper{
        position: relative;
        width: 100%;
        height: 56.35vw;
        overflow: hidden;
        min-height: 600px;
    }
    
    iframe{
        position: relative;
        width: 100%;
        height: 100%;
        
    }
    
    .overlay{
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    
    .overlay-text{
        position: relative;
    }
}
