// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    overflow: visible;
}

body {
    
    @include body-font;
    padding-top: 60px; // For nav bar
    
}

.no-scroll{
    overflow: hidden;
}

a {
    cursor: pointer;
    color: $theme-primary;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, 20%);
        text-decoration: none;
    }
      
}

a:focus { outline: none }

hr {
    max-width: 300px;
    margin: 0 auto;
    border-width: 1.5px;
    border-color: fade-out($gray-darker, .9)7
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    padding: 50px 5px !important;
    h2 {
        font-size: 50px;
    }
  
  @media(min-width:768px){
    padding: 100px 0px !important;
    h2 {
        font-size: 50px;
    }
  }
  
}

.content-section{
    padding: 100px 20px !important;
}

.centre-xy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centre-y{
  display: flex;
  
  align-items: center;
}

.bg-theme{
    background: url('../img/bg-pattern2.png'), linear-gradient(45deg, $theme-secondary, $theme-tertiary);
}

.text-theme{
  color: $theme-primary;
}

.fa{
  margin-right: 5px;
}

.content-p{
    max-width: 500px;
  margin: 0 auto;
}

.theme-icon{
    font-size: 60px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-title{
    letter-spacing: 2px; //To compensate for navbar
    font-weight: 500;
}
