// Styling for the masthead
.header {
    height: 100%;
    position: relative;
    width: 100%;
    background: url('../img/grow.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    span{
        display: inline-block;
    }
    
    .header-content {
        max-width: 500px;
        text-align: center;
        h1 {
            font-size: 30px;
        }
    }

    @media (min-width: 992px) {
        
        //height: 100vh;
        min-height: 775px;

        .header-content {
            max-width: 500px;
            h1 {
                font-size: 50px;
            }
        }

    }
}