//Sollutions page stylesheet
.page-sollutions{
    
    .section-content{
        .video-wrapper{
            width: 60%;
            height: 40vw;
            background-color: black;
            //margin: 20px auto;
        }
    }
    
}