html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: visible;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.no-scroll {
  overflow: hidden;
}

a {
  color: black;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #ab0600;
  text-decoration: none;
}

a:focus {
  outline: none;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

.centre-xy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centre-y {
  display: flex;
  align-items: center;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

#mainNav .navbar-brand {
  color: #DE0800;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #ab0600;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #DE0800 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #DE0800;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(0, 0, 0, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #DE0800;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #DE0800;
  }
}

#mainNav .icon {
  height: 30px;
}

header.masthead {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/grow.jpg");
  background-position: right;
  background-size: cover;
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

header.masthead a {
  background-color: rgba(255, 255, 255, 0.2);
}

section.whyus {
  background: url("../img/bg-pattern2.png"), linear-gradient(to left, #7b4397, #dc2430);
  position: relative;
  padding: 150px 0;
}

section.whyus h2 {
  font-size: 50px;
  margin-top: 0;
}

section.whyus .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.whyus .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.whyus .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.whyus .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.whyus h2 {
    font-size: 70px;
  }
}

section.features .section-heading {
  margin-bottom: 100px;
}

section.features .section-heading h2 {
  margin-top: 0;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 30px;
}

section.features .feature-item i {
  font-size: 60px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.features .feature-logo {
  width: 150px;
}

.splash {
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 10000;
  transition: all 1s ease-out;
  opacity: 1;
}

.splash .wrapper {
  width: 150px;
  height: 200px;
  position: relative;
}

.splash img {
  position: absolute;
  width: 150px;
  top: 0px;
  left: 0px;
}

.splash .anim {
  animation: dim 3s 0s infinite;
}

.splash .anim:nth-child(1) {
  animation-delay: 0.1s;
}

.splash .anim:nth-child(2) {
  animation-delay: 0.2s;
}

.splash .anim:nth-child(3) {
  animation-delay: 0.3s;
}

.splash .anim:nth-child(4) {
  animation-delay: 0.4s;
}

.splash .anim:nth-child(5) {
  animation-delay: 0.5s;
}

@keyframes dim {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

section.contact {
  text-align: center;
  background: url("../img/bg-pattern2.png"), linear-gradient(to left, #dc2430, #dc2430);
}

section.contact .icon {
  font-size: 40px;
  margin-bottom: 15px;
  color: #212529;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

section.bizone {
  position: relative;
  background-color: #7b4397;
  padding: 0px;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

section.bizone .wrapper {
  position: relative;
  width: 100%;
  height: 56vw;
  overflow: hidden;
  min-height: 600px;
  background-color: grey;
}

section.bizone iframe {
  position: relative;
  width: 100%;
  height: 100%;
}

section.bizone .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

section.bizone .overlay-text {
  position: relative;
  color: #7b4397;
}

section.bizone a {
  color: #7b4397;
  border-color: #7b4397;
}

@media only screen and (max-width: 961px) {
  section.bizone .overlay {
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.bizone .overlay-text {
    max-width: 300px;
  }
  section.bizone iframe {
    display: none;
  }
  section.bizone a {
    background-color: rgba(138, 63, 206, 0.8);
    border: none;
    color: black;
  }
}

.bg-primary {
  background: #DE0800;
  background: -webkit-linear-gradient(#DE0800, #c50700);
  background: linear-gradient(#DE0800, #c50700);
}

.text-primary {
  color: #DE0800;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  border: 1px solid;
  border-color: black;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #DE0800;
  background-color: #DE0800;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}
