footer
      .container
        p © Created by Tourmalet Media 2018. All Rights Reserved.
        ul.list-inline
          li.list-inline-item
            a(href='#') Privacy
          li.list-inline-item
            a(href='#') Terms
          li.list-inline-item
            a(href='#') FAQ