footer
      .container
        a.mb-5
            img.logo.mb-2(src="../img/logo.svg")
            p Accelerating growth. Cataltsing business.
        //ul.list-inline
          li.list-inline-item
            a(href='#') Privacy
          li.list-inline-item
            a(href='#') Terms
          li.list-inline-item
            a(href='#') FAQ
        p.mt-3 © Created by Tourmalet Media 2018. All Rights Reserved.
        