doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='digivate home')
    meta(name='author', content='Dehan Louw')
    title digivate
    
    // Head links
    include includes/headlinks.pug
    
  body.page-contact#page-top(onload="splash(3000)")
    // Navigation
    include includes/navbar.pug
    // Header
    section.section-header.bg-theme.text-center
        h2 Get in Touch
        h3 Talk to our team of expert consultants
    //Sap section
    section.section-intro.text-center
        h3 SAP Business One
        h4.text-muted The swiss army ERP package
    hr
    // Footer
    include includes/footer.pug
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    script(src='js/thescript.min.js')
