doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='digivate home')
    meta(name='author', content='Dehan Louw')
    title digivate
    
    // Head links
    include includes/headlinks.pug
    
  body.page-contact#page-top(onload="splash(3000)")
    // Navigation
    include includes/navbar.pug
    // Header
    section.section-header.bg-theme.text-center
        h2 Get in Touch
    //contact section
    section.section-contact.text-center
      .container
        h3 Here to help
        p.content-p.mx-auto.text-muted.mb-5 Contact our experienced team of business consultants 
        .row
          .col-12.mb-3
            iframe.map.p-3(src="https://snazzymaps.com/embed/99538")
        .row.p-3
          .col-md-4.text-left
            h4 Talk to us
            i.fa.fa-phone.mb-3.mr-3
            span.text-muted 082 905 8222
            br
            i.fa.fa-envelope.mb-3.mr-3
            span.text-muted info@digivate.co.za
          .col-md-4.text-left
            h4 Follow us
            a(href="") 
              i.fab.fa-linkedin-in.mb-3.mr-3
              span.text-muted Digivate South Africa Pty Ltd
            br
            a(href="") 
              i.fab.fa-facebook.mr-3
              span.text-muted Digivate South Africa
          .col-md-4.text-left
            h4 Visit us
            a(href="https://www.google.com/maps/@-26.0015426,28.1164096,17.75z",  target="_blank") 
              i.fa.fa-location-arrow.mb-3.mr-3
              span.text-muted Digivate SA
              br
              span.text-muted Waterfall Park
              br
              span.text-muted Bekker Rd
              br
              span.text-muted Johannesburg

    // Footer
    include includes/footer.pug
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    
    script(src='js/thescript.min.js')
