doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='digivate home')
    meta(name='author', content='Dehan Louw')
    title digivate
    
    // Head links
    include includes/headlinks.pug
    
  body.page-contact#page-top(onload="splash(3000)")
    // Navigation
    include includes/navbar.pug
    // Header
    section.section-header.bg-theme.text-center
        h2 Get in Touch
    //contact section
    section.section-contact
      .container
        .row
          .col-md-8
            iframe.map.p-3(src="https://snazzymaps.com/embed/99538")
          .col-md-4
            h3 Talk to us
            i.fa.fa-phone.mb-3.mr-3 
            span.text-muted 082 905 8222
            br
            i.fa.fa-envelope.mb-3.mr-3  
            span.text-muted info@digivate.co.za
            br
            i.fa.fa-phone.mb-3.mr-3 
            span.text-muted 082 905 8222
            br
            a(href="") 
              i.fa.fa-linkedin.mb-3.mr-3 
              span.text-muted 082 905 8222
            br
            a(href="") 
              i.fa.fa-facebook.mr-3 
              span.text-muted 082 905 8222
    hr
    // Footer
    include includes/footer.pug
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    
    script(src='js/thescript.min.js')
