doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='digivate home')
    meta(name='author', content='Dehan Louw')
    title digivate
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='vendor/simple-line-icons/css/simple-line-icons.css')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')
    // Plugin CSS
    //link(rel='stylesheet', href='device-mockups/device-mockups.min.css')
    // Custom styles for this template
    link(href='css/stylesheet.min.css', rel='stylesheet')
  body#page-top(onload="splash(3000)")
    // Splash screen
    #splash.splash.centre-xy
        .wrapper
            img.logoload(src="img/logo.svg")
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') 
            img.icon(src="img/logorow.svg")
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#whyus') Why Digivate
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#bizone') Learn more
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#contact') Contact
    header.masthead
      .container.h-100
        .row.h-100
          .col-lg-7.my-auto
            .header-content.mx-auto
              h1.mb-5.text-dark
                | Helping businesses grow with innovative digital solutions
              a.btn.btn-outline.btn-xl.js-scroll-trigger(href='#contact') Ask us how
          //.col-lg-5.my-auto
            .device-container
              .device-mockup.iphone6_plus.portrait.white
                .device
                  .screen
                    // Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                    img.img-fluid(src='img/demo-screen-1.jpg', alt='')
                  .button
                    // You can hook the "home button" to some JavaScript events or just remove it
    section#whyus.whyus.bg-primary.text-center
      .container
        .row
          .col-md-8.mx-auto
            h2.section-heading Partner your business with global industry leaders
             //p 
            p Digivate is an official SAP partner
            .badges.mt-5
              a.badge-link(href='#')
                img(src='img/sap_silver_partner.svg', alt='')
    section#features.features
      .container
        .section-heading.text-center
          h2 What digivate can do for you
          p.text-muted An agile partner for sustainable growth
          hr
        .row
          .col-lg-4.centre-xy
            img(src="img/logo.svg")
          .col-lg-8.my-auto
            .container-fluid
              .row
                .col-lg-6
                  .feature-item
                    i.icon-chemistry.text-primary
                    h3 Bespoke solutions
                    p.text-muted Customized, installed and integrated. We adapt the pieces to yor puzzle.
                .col-lg-6
                  .feature-item
                    i.icon-briefcase.text-primary
                    h3 Expert consultants
                    p.text-muted With over 10 years of eperience our consultants are intimitelay familiar with the challenges SMEs face
              .row
                .col-lg-6
                  .feature-item
                    i.icon-globe.text-primary
                    h3 Futureproof digitization
                    p.text-muted Help your business stay on the cusp of modern business technologies
                .col-lg-6
                  .feature-item
                    i.icon-people.text-primary
                    h3 Continued support
                    p.text-muted Digivate is a long term partner for success- guiding you on the entire journey.
    section#bizone.bizone
        .wrapper
          //iframe(src="//www.youtube.com/embed/CHe6LLvkDnY?rel=0&autoplay=0&mute=1&showinfo=0&controls=0", frameborder="0",  allowfullscreen)
          .overlay.w-100.h-100.centre-xy  
            .overlay-text
              h2
                | Modern business. Solved.
                br
                | With SAP Business One
              a.btn.btn-outline.btn-xl.js-scroll-trigger(href='https://www.sap.com/africa/products/business-one/features.html', target='_blank') Learn more
    section#contact.contact.bg-primary
        .container
            .row
                .col-md-6
                    a#mailshow.service(href="",onclick="event.preventDefault();")
                        i.icon.icon-bulb
                    h3 Get in touch
                    a#mailaddress(href="") [click the bulb for email address]
                .col-md-6
                    a.js-scroll-trigger.text-dark(href="#page-top")
                        i.icon.icon-arrow-up
                    h3 Back to top
    footer
      .container
        p © Created by Tourmalet Media 2018. All Rights Reserved.
        ul.list-inline
          li.list-inline-item
            a(href='#') Privacy
          li.list-inline-item
            a(href='#') Terms
          li.list-inline-item
            a(href='#') FAQ
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    // Custom scripts for this template
    script(src='js/thescript.min.js')
