doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='digivate home')
    meta(name='author', content='Dehan Louw')
    title digivate
    
    //Head links
    include includes/headlinks.pug
    
  body.page-home.no-scroll#page-top(onload="splash(3000)")
    // Splash screen
    #splash.splash.centre-xy
        .wrapper
            img#anim0(src="img/anim/0.svg")
            img#anim1.anim(src="img/anim/1.svg")
            img#anim2.anim(src="img/anim/2.svg")
            img#anim3.anim(src="img/anim/3.svg")
            img#anim4.anim(src="img/anim/4.svg")
            img#anim5.anim(src="img/anim/5.svg")
    // Navigation
    include includes/navbar.pug
    
    //Header
    header.section-header
      .container.h-100
        .row.h-100
          .col-lg-7.my-auto
            .header-content.mx-auto
              h1.mb-5.text-dark
                span.twn1 Helping businesses grow 
                span.twn2.mr-3 with 
                span.twn3.mr-3 innovative 
                span.twn4.mr-3 digital 
                span.twn5.mr-3 solutions
              a.btn.btn-outline.btn-xl.js-scroll-trigger.twn6(href='#features') Ask us how
    //WhyUs Section
    section.section-whyus.bg-primary.text-center
      .container
        .row
          .col-md-8.mx-auto
            h2.section-heading.twn1 Partner your business with global industry leaders
             //p 
            p.tween Digivate is an official SAP partner
            .badges.mt-5.twn1b
              a.badge-link.twn2(href='#')
                img(src='img/sap_silver_partner.svg', alt='')
    //Featuers section
    section.section-features
      .container
        .section-heading.text-center
          h2.twn1 What digivate can do for you
          p.text-muted An agile partner for sustainable growth
          hr.twn3
        .row
          .col-lg-4.centre-xy
            img.feature-logo.mb-5(src="img/logo.svg")
          .col-lg-8.my-auto
            .container-fluid
              .row.row1
                .col-lg-6
                  .feature-item
                    i.theme-icon.icon-pie-chart.text-primary.twn2
                    h3 Integrated systems
                    p.text-muted.twn2 We help SMEs put the right business systems in place to thrive in local and global markets
                .col-lg-6
                  .feature-item
                    i.theme-icon.icon-equalizer.text-primary.twn2
                    h3 Bespoke solutions
                    p.text-muted.twn2 Customized, installed and integrated. We tailor solutions to your business environment
              .row.row1
                .col-lg-6
                  .feature-item
                    i.theme-icon.icon-graph.text-primary.twn2
                    h3 Expert consultants
                    p.text-muted.twn2 With over 10 years of experience our consultants are intimately familiar with the challenges SMEs face
                .col-lg-6
                  .feature-item
                    i.theme-icon.icon-refresh.text-primary.twn2
                    h3 Continued support
                    p.text-muted.twn2 Digivate is a holistic partner for success- guiding you on the entire journey
    //BizOne Section
    section.section-bizone
        .wrapper
          iframe(src="https://www.youtube.com/embed/CHe6LLvkDnY?rel=0&autoplay=1&mute=1&showinfo=0&controls=0&loop=1&playlist=CHe6LLvkDnY", frameborder="0",  allowfullscreen)
          .overlay.centre-xy  
            .overlay-text
              h2.twn1 Modern business?
              h2.twn2 Solved.
              h2.twn3 With SAP Business One
              a.btn.btn-outline.btn-xl.js-scroll-trigger.twn4(href='https://www.sap.com/africa/products/business-one/features.html', target='_blank') Learn more
    //Contact section
    section.section-contact.bg-primary
        .container
            .row
                .col-md-4.mb-5
                    a#mailshow.service(href="",onclick="event.preventDefault();")
                        i.icon.icon-bulb
                    h3 Send a message
                    a#mailaddress(href="") [click the bulb for email address]
                .col-md-4.mb-5
                    a
                        i.icon.icon-phone
                    h3 Give us a call
                    a 082 905 8222
                .col-md-4
                    a.js-scroll-trigger.text-dark(href="#page-top")
                        i.icon.icon-arrow-up
                    h3 Back to top
    //Footer
    include includes/footer.pug
    
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    //Gsap animation engine
    script(src="vendor/gsap/TweenMax.min.js")
    //Scrolmagic
    script(src="vendor/scrollmagic/ScrollMagic.min.js")
    script(src="vendor/scrollmagic/animation.gsap.min.js")
    script(src="vendor/scrollmagic/debug.addIndicators.min.js")
    // Custom scripts for this template
    script(src='js/thescript.min.js')
