doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='digivate home')
    meta(name='author', content='Dehan Louw')
    title digivate
    
    // Head links
    include includes/headlinks.pug
    
  body.page-partners#page-top(onload="splash(3000)")
    // Navigation
    include includes/navbar.pug
    // Header
    section.section-header.bg-theme.text-center
        h2 Our Partners
    //Sap section
    section.section-intro.content-section.text-center
        h3 Allied with industry giants
        p.content-p.text-muted In business, contacts are currency. Take advantage of our vast network of powerful  partners and move beyond the limits of your resources.
        .container
          .row
            .col-md-4.mt-3
             img.partner-logo(src='img/sap_silver_partner.svg', alt='')
            .col-md-4.mt-3
             img.partner-logo(src='img/sap_silver_partner.svg', alt='')
            .col-md-4.mt-3
             img.partner-logo(src='img/sap_silver_partner.svg', alt='')
    hr
    section.section-content.text-center
      h3 In the business of business
      p.content-p.text-muted.mb-3 Planning your next big move? Let us assist you in finding the right partner for the journey. It's who you know, after all...
      a.link-primary(href="contact.html")
        span.mr-3 Get in touch
        i.fa.fa-angle-right
    // Footer
    include includes/footer.pug
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    script(src='js/thescript.min.js')
