doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='digivate home')
    meta(name='author', content='Dehan Louw')
    title digivate
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='vendor/simple-line-icons/css/simple-line-icons.css')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')
    // Plugin CSS
    //link(rel='stylesheet', href='device-mockups/device-mockups.min.css')
    // Custom styles for this template
    link(href='css/sap.min.css', rel='stylesheet')
    //Favicon
    link(rel="icon", href="img/favicon.png")
  body.no-scroll#page-top(onload="splash(3000)")
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') 
            img.icon(src="img/logorow.svg")
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#bizone') What we offer
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#whyus') SAP Business One
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#bizone') Support
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#contact') About Us
    section.section-header
    footer
      .container
        p © Created by Tourmalet Media 2018. All Rights Reserved.
        ul.list-inline
          li.list-inline-item
            a(href='#') Privacy
          li.list-inline-item
            a(href='#') Terms
          li.list-inline-item
            a(href='#') FAQ
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    //Gsap animation engine
    script(src="vendor/gsap/TweenMax.min.js")
    //Scrolmagic
    script(src="vendor/scrollmagic/ScrollMagic.min.js")
    script(src="vendor/scrollmagic/animation.gsap.min.js")
    script(src="vendor/scrollmagic/debug.addIndicators.min.js")
    // Custom scripts for this template
    script(src='js/thescript.min.js')
