doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='digivate home')
    meta(name='author', content='Dehan Louw')
    title digivate
    
    // Head links
    include includes/headlinks.pug
    
  body.page-sollutions#page-top(onload="splash(3000)")
    // Navigation
    include includes/navbar.pug
    // Header
    section.section-header.bg-theme.text-center
        h1.page-title What we do
        //h3 World class ERP sollutions for ambitious SMEs
    //Content
    section.section-content.text-center
        h3 SAP Business One
        p.content-p.mx-auto.text-muted.mb-5 Industry leading tools to streamline business processes.Now available to small enterprises in one simple, affordable package. 
        .video-wrapper.mx-auto
    hr
    section.section-content.text-center
        h3 SAP Business One key features
        p.content-p.mx-auto.text-muted.mb-5 Modern business, solved from A to Z. SAP Business One holistically addresses the business needs of growing SMEs. 
        .container
            .row
                .col-md-4.text-center
                    i.theme-icon.icon-refresh.text-primary
                    h4 Financial Management
                    p.text-muted This is a short paragprah on financial management
                .col-md-4.text-center
                    i.theme-icon.icon-refresh.text-primary
                    h4 Sales and customer management
                    p.text-muted This is a short paragprah on financial management
                .col-md-4.text-center
                    i.theme-icon.icon-refresh.text-primary
                    h4 Purchasing and inventory control
                    p.text-muted This is a short paragprah on financial management
                .col-md-4.text-center
                    i.theme-icon.icon-refresh.text-primary
                    h4 Business inteligence
                    p.text-muted This is a short paragprah on financial management
                .col-md-4.text-center
                    i.theme-icon.icon-refresh.text-primary
                    h4 Analytics and reporting
                    p.text-muted This is a short paragprah on financial management
                .col-md-4.text-center
                    i.theme-icon.icon-refresh.text-primary
                    h4 Industry specific ERP solutions
                    p.text-muted This is a short paragprah on financial management
    hr
    section.section-content.text-center
        h3 Deployment options
        p.content-p.mx-auto.text-muted.mb-5 SAP Business One can be deployed on your own premiss, or in the cloud. Let us help you decide.
        .container
            .row
                .col-md-6.text-center
                    i.theme-icon.icon-refresh.text-primary
                    h4 On-premisis
                    p.text-muted Take full control of your environment with local installation on your own infrastructure. A complete, hands-on approach to digital business.
                .col-md-6.text-center
                    i.theme-icon.icon-refresh.text-primary
                    h4 Cloud
                    p.text-muted Take advantage of our extensive digital architecture to host all the powerfull functions of SAP Business One.
    hr
    section.section-content.text-center
        h3 SAP Business One Service mobile app
        p.content-p.mx-auto.text-muted.mb-5 Introducing the power of SAP Business One on the go. Increase the agility and reach of your business tools even further.
        .video-wrapper.mx-auto
    hr
    // Footer
    include includes/footer.pug
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    script(src='js/thescript.min.js')
